<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="amr_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0493668305933598 0.00544542255161407 0.219815048140839"
        rpy="0 0 0" />
      <mass
        value="4.30533644141521" />
      <inertia
        ixx="0.0579387059929739"
        ixy="-1.64805304215128E-05"
        ixz="-7.02612791029598E-07"
        iyy="0.0392493362755053"
        iyz="-4.47012107475682E-09"
        izz="0.0613122679080867" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_encoder_wheel_right_link">
    <inertial>
      <origin
        xyz="-1.5143569811471E-06 0.000291802762061089 3.65184543704711E-06"
        rpy="0 0 0" />
      <mass
        value="0.0241340978121404" />
      <inertia
        ixx="7.26641531195306E-06"
        ixy="3.41275586124443E-10"
        ixz="-1.51211062924361E-10"
        iyy="1.40693972871797E-05"
        iyz="-8.22977526213836E-10"
        izz="7.26671725550849E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_encoder_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0.074022 -0.23078 -0.063003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_encoder_wheel_right_link" />
    <axis
      xyz="0 1 0" />
     <limit
        effort="0.863"
        velocity="11.52"/>
    <dynamics
        damping="0.05"
        friction="0.01"/>
  </joint>
  <link
    name="front_encoder_wheel_left_link">
    <inertial>
      <origin
        xyz="1.52189831637006E-06 -0.000291802762072635 3.95338492353847E-06"
        rpy="0 0 0" />
      <mass
        value="0.0241340978121404" />
      <inertia
        ixx="7.26635260812801E-06"
        ixy="5.09680228316527E-15"
        ixz="8.50587600740086E-17"
        iyy="1.40693972871796E-05"
        iyz="8.90932676736045E-10"
        izz="7.26677995933354E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_encoder_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.074022 0.24142 -0.063003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_encoder_wheel_left_link" />
    <axis
      xyz="0 1 0" />
     <limit
        effort="0.863"
        velocity="11.52"/>
    <dynamics
        damping="0.05"
        friction="0.01"/>
  </joint>
  <link
    name="rear_caster_steer_right_link">
    <inertial>
      <origin
        xyz="0.00382120079766524 0.00010358863860227 -0.00603582950339376"
        rpy="0 0 0" />
      <mass
        value="0.0179822997869202" />
      <inertia
        ixx="4.18749926705572E-06"
        ixy="-3.02767091684347E-10"
        ixz="4.84287605171218E-07"
        iyy="4.68482447814291E-06"
        iyz="1.99656560760833E-09"
        izz="6.79107503547105E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_steer_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_steer_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_steer_right_joint"
    type="continuous">
    <origin
      xyz="-0.20168 -0.18778 -0.030503"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_caster_steer_right_link" />
    <axis
      xyz="0 0 1" />
     <dynamics
        damping="0.1"
        friction="0.02"/>
  </joint>
  <link
    name="rear_caster_wheel_right_link">
    <inertial>
      <origin
        xyz="0 -1.99840144432528E-15 1.64313007644523E-14"
        rpy="0 0 0" />
      <mass
        value="0.0294337031863833" />
      <inertia
        ixx="6.27589286634442E-06"
        ixy="-2.10026327406002E-23"
        ixz="-1.12916732115284E-21"
        iyy="1.05574890455602E-05"
        iyz="1.48392532350894E-20"
        izz="6.27589286634442E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0.017 0 -0.0405"
      rpy="0 0 0" />
    <parent
      link="rear_caster_steer_right_link" />
    <child
      link="rear_caster_wheel_right_link" />
    <axis
      xyz="0 1 0" />
     <dynamics
        damping="0.02"
        friction="0.01"/>
  </joint>
  <link
    name="rear_caster_steer_left_link">
    <inertial>
      <origin
        xyz="0.00255890188730934 2.44356758560826E-06 -0.0026361162225399"
        rpy="0 0 0" />
      <mass
        value="0.0164104146999673" />
      <inertia
        ixx="3.93853927568399E-06"
        ixy="-2.97813533044572E-10"
        ixz="4.84284589300158E-07"
        iyy="4.67113100673414E-06"
        iyz="1.98182917096098E-09"
        izz="6.54211428670474E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_steer_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_steer_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_steer_left_joint"
    type="continuous">
    <origin
      xyz="-0.20168 0.19842 -0.030503"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_caster_steer_left_link" />
    <axis
      xyz="0 0 1" />
     <dynamics
        damping="0.1"
        friction="0.02"/>
  </joint>
  <link
    name="rear_caster_wheel_left_link">
    <inertial>
      <origin
        xyz="-1.11022302462516E-16 -2.22044604925031E-16 9.84780718638056E-05"
        rpy="0 0 0" />
      <mass
        value="0.0294337031863833" />
      <inertia
        ixx="6.27589286634442E-06"
        ixy="-1.29246970711371E-23"
        ixz="-1.12916732115284E-21"
        iyy="1.05574890455602E-05"
        iyz="1.48101726666793E-20"
        izz="6.27589286634442E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.017 0 -0.0405"
      rpy="0 0 0" />
    <parent
      link="rear_caster_steer_left_link" />
    <child
      link="rear_caster_wheel_left_link" />
    <axis
      xyz="0 1 0" />
     <dynamics
        damping="0.02"
        friction="0.01"/>
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.0686496424832543 0.00526593693599753 -0.00149999999999972"
        rpy="0 0 0" />
      <mass
        value="0.433591677658542" />
      <inertia
        ixx="0.00663395475276422"
        ixy="-3.21713416352371E-07"
        ixz="4.43764634417186E-21"
        iyy="0.00397002543889303"
        iyz="-4.12153982807415E-17"
        izz="0.0106033298041408" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0192480956479566 -9.81672015742951E-06 -6.24371804174295E-05"
        rpy="0 0 0" />
      <mass
        value="0.183480710290439" />
      <inertia
        ixx="0.000397638008280792"
        ixy="3.36943171969184E-08"
        ixz="2.72026743740447E-07"
        iyy="3.70982336711151E-05"
        iyz="1.12651705942679E-10"
        izz="0.000407441878851077" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.10152 0.014743 0.59519"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.0052982992774806 0.00901279560442636 -0.00730078478703267"
        rpy="0 0 0" />
      <mass
        value="0.141654473640087" />
      <inertia
        ixx="5.69097097753613E-05"
        ixy="-2.87900344418162E-07"
        ixz="1.24753616532653E-05"
        iyy="8.93215448552515E-05"
        iyz="-7.21857208026184E-07"
        izz="0.000108702097721124" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.211764705882353 0.211764705882353 0.203921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-0.024802 -0.0038905 0.12806"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="base_lift_link">
    <inertial>
      <origin
        xyz="-0.00315733666983653 -0.000196848231616364 0.525699968711969"
        rpy="0 0 0" />
      <mass
        value="0.326486799501112" />
      <inertia
        ixx="0.0178628092131955"
        ixy="-1.39160213516857E-10"
        ixz="1.73335666896295E-07"
        iyy="0.0178571462647245"
        iyz="1.3046672640489E-08"
        izz="3.20902618179627E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_lift_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_lift_joint"
    type="fixed">
    <origin
      xyz="0.12352 0.0055154 0.017997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_lift_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="encoder_lift_link">
    <inertial>
      <origin
        xyz="0.00336424687340886 -0.000198748258684933 0.123622115296924"
        rpy="0 0 0" />
      <mass
        value="0.357360840342875" />
      <inertia
        ixx="0.000279600646971789"
        ixy="-7.63669360244903E-08"
        ixz="7.79788582324602E-09"
        iyy="4.96986291894178E-05"
        iyz="-3.24165845306426E-10"
        izz="0.00026477119016549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/encoder_lift_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/encoder_lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="encoder_lift_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_lift_link" />
    <child
      link="encoder_lift_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.04"
      upper="0.85"
      effort="50"
      velocity="0.1" />
  </joint>
  <link
    name="left_fork_link">
    <inertial>
      <origin
        xyz="-0.0398443853546764 -0.00131744864111871 0.0592702583716915"
        rpy="0 0 0" />
      <mass
        value="0.0680578875808647" />
      <inertia
        ixx="0.000408993938679969"
        ixy="-3.29322597361116E-08"
        ixz="0.00022638974153021"
        iyy="0.000774049928629425"
        iyz="-2.93209835930285E-08"
        izz="0.000374935431901761" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/left_fork_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/left_fork_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_fork_right"
    type="fixed">
    <origin
      xyz="0.1275 0.086108 -0.042399"
      rpy="0 0 0" />
    <parent
      link="encoder_lift_link" />
    <child
      link="left_fork_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_fork_link">
    <inertial>
      <origin
        xyz="-0.039844385354656 0.000133846295693463 0.0592702583716592"
        rpy="0 0 0" />
      <mass
        value="0.0680578875808845" />
      <inertia
        ixx="0.000408993938679999"
        ixy="-3.29322597245401E-08"
        ixz="0.000226389741530237"
        iyy="0.000774049928629537"
        iyz="-2.93209836027394E-08"
        izz="0.000374935431901846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/right_fork_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/right_fork_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_fork_joint"
    type="fixed">
    <origin
      xyz="0.1275 -0.085344 -0.042399"
      rpy="0 0 0" />
    <parent
      link="encoder_lift_link" />
    <child
      link="right_fork_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
