<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="amr_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.044281 0.0053564 0.22486"
        rpy="0 0 0" />
      <mass
        value="2.5717" />
      <inertia
        ixx="0.035778"
        ixy="-4.2126E-07"
        ixz="-6.583E-07"
        iyy="0.025379"
        iyz="4.5907E-11"
        izz="0.040031" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_encoder_wheel_right_link">
    <inertial>
      <origin
        xyz="-1.5144E-06 0.0002918 3.6518E-06"
        rpy="0 0 0" />
      <mass
        value="0.024134" />
      <inertia
        ixx="7.2664E-06"
        ixy="3.4128E-10"
        ixz="-1.5121E-10"
        iyy="1.4069E-05"
        iyz="-8.2298E-10"
        izz="7.2667E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_encoder_wheel_right_joint"
    type="continuous">
    <origin
      xyz="0.074022 -0.23078 -0.063003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_encoder_wheel_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="front_encoder_wheel_left_link">
    <inertial>
      <origin
        xyz="1.5219E-06 -0.0002918 3.9534E-06"
        rpy="0 0 0" />
      <mass
        value="0.024134" />
      <inertia
        ixx="7.2664E-06"
        ixy="5.0968E-15"
        ixz="8.5059E-17"
        iyy="1.4069E-05"
        iyz="8.9093E-10"
        izz="7.2668E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/front_encoder_wheel_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_encoder_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.074022 0.24142 -0.063003"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_encoder_wheel_left_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rear_caster_stear_right_link">
    <inertial>
      <origin
        xyz="0.0038212 0.00010359 -0.0060358"
        rpy="0 0 0" />
      <mass
        value="0.017982" />
      <inertia
        ixx="4.1875E-06"
        ixy="-3.0281E-10"
        ixz="4.8429E-07"
        iyy="4.6848E-06"
        iyz="1.9965E-09"
        izz="6.7911E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_stear_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_stear_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_stear_right_joint"
    type="continuous">
    <origin
      xyz="-0.20168 -0.18778 -0.030503"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_caster_stear_right_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rear_caster_wheel_right_link">
    <inertial>
      <origin
        xyz="0 2.2204E-16 0"
        rpy="0 0 0" />
      <mass
        value="0.029434" />
      <inertia
        ixx="6.2759E-06"
        ixy="1.454E-23"
        ixz="-9.5429E-22"
        iyy="1.0557E-05"
        iyz="1.5001E-20"
        izz="6.2759E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_wheel_right_link"
    type="continuous">
    <origin
      xyz="0.017 0 -0.0405"
      rpy="0 0 0" />
    <parent
      link="rear_caster_stear_right_link" />
    <child
      link="rear_caster_wheel_right_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rear_caster_stear_left_link">
    <inertial>
      <origin
        xyz="0.0038212 0.00010359 -0.0059374"
        rpy="0 0 0" />
      <mass
        value="0.017982" />
      <inertia
        ixx="4.1875E-06"
        ixy="-3.0273E-10"
        ixz="4.8429E-07"
        iyy="4.6848E-06"
        iyz="1.9966E-09"
        izz="6.7911E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_stear_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_stear_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_stear_left_joint"
    type="continuous">
    <origin
      xyz="-0.20168 0.19842 -0.030503"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rear_caster_stear_left_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rear_caster_wheel_left_link">
    <inertial>
      <origin
        xyz="-1.1102E-16 0 9.8478E-05"
        rpy="0 0 0" />
      <mass
        value="0.029434" />
      <inertia
        ixx="6.2759E-06"
        ixy="1.454E-23"
        ixz="-9.5429E-22"
        iyy="1.0557E-05"
        iyz="1.5007E-20"
        izz="6.2759E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_left_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/rear_caster_wheel_left_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_caster_wheel_left_joint"
    type="continuous">
    <origin
      xyz="0.017 0 -0.0405"
      rpy="0 0 0" />
    <parent
      link="rear_caster_stear_left_link" />
    <child
      link="rear_caster_wheel_left_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0075697 -2.4055E-05 -0.0052733"
        rpy="0 0 0" />
      <mass
        value="0.22579" />
      <inertia
        ixx="0.00040864"
        ixy="3.0332E-08"
        ixz="8.8901E-08"
        iyy="4.9391E-05"
        iyz="-4.0148E-09"
        izz="0.0004303" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.091175 -0.17618 0.36182"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="0.0047186 -0.00038608 -0.0073008"
        rpy="0 0 0" />
      <mass
        value="0.14165" />
      <inertia
        ixx="5.691E-05"
        ixy="-2.879E-07"
        ixz="1.2475E-05"
        iyy="8.9322E-05"
        iyz="-7.2186E-07"
        izz="0.0001087" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.21176 0.21176 0.20392 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="-0.034802 -0.0038905 0.10975"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.068622 0.005266 -0.0015"
        rpy="0 0 0" />
      <mass
        value="0.43383" />
      <inertia
        ixx="0.006634"
        ixy="-4.4601E-07"
        ixz="4.0345E-21"
        iyy="0.0039709"
        iyz="-4.1215E-17"
        izz="0.010604" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="base_lift_link">
    <inertial>
      <origin
        xyz="-0.0030191 -1.115E-06 0.55991"
        rpy="0 0 0" />
      <mass
        value="0.30532" />
      <inertia
        ixx="0.01786"
        ixy="3.6374E-09"
        ixz="-6.3729E-08"
        iyy="0.017854"
        iyz="-5.9938E-09"
        izz="2.7101E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_lift_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/base_lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_lift_joint"
    type="fixed">
    <origin
      xyz="0.12352 0.0055154 0.017997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="base_lift_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="encoder_lift_link">
    <inertial>
      <origin
        xyz="0.0035355 -2.5279E-06 0.02688"
        rpy="0 0 0" />
      <mass
        value="0.34037" />
      <inertia
        ixx="0.00027605"
        ixy="-1.0468E-07"
        ixz="-1.2147E-20"
        iyy="4.6455E-05"
        iyz="-7.0395E-19"
        izz="0.00026277" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/encoder_lift_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/encoder_lift_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="encoder_lift_joint"
    type="prismatic">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_lift_link" />
    <child
      link="encoder_lift_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.87"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_fork_link">
    <inertial>
      <origin
        xyz="-0.049199 -0.0010998 0.039219"
        rpy="0 0 0" />
      <mass
        value="0.049955" />
      <inertia
        ixx="0.0001483"
        ixy="-5.8166E-08"
        ixz="9.2581E-05"
        iyy="0.00032102"
        iyz="1.0804E-08"
        izz="0.00017987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/left_fork_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/left_fork_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_fork_joint"
    type="fixed">
    <origin
      xyz="0.1275 0.086108 -0.093107"
      rpy="0 0 0" />
    <parent
      link="encoder_lift_link" />
    <child
      link="left_fork_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_fork_link">
    <inertial>
      <origin
        xyz="-0.049199 0.00035146 0.039219"
        rpy="0 0 0" />
      <mass
        value="0.049955" />
      <inertia
        ixx="0.0001483"
        ixy="-5.8166E-08"
        ixz="9.2581E-05"
        iyy="0.00032102"
        iyz="1.0804E-08"
        izz="0.00017987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/right_fork_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://amr_description/meshes/right_fork_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_fork_joint"
    type="fixed">
    <origin
      xyz="0.1275 -0.085344 -0.093107"
      rpy="0 0 0" />
    <parent
      link="encoder_lift_link" />
    <child
      link="right_fork_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>