# =============================================================================
# AMR USB Device Rules - Port 4 (ESP32) & Port 9 (RPLiDAR)
# =============================================================================

# 1. ESP32 - Cắm tại Cổng USB Port 4
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", \
    KERNELS=="1-4:1.0", \
    SYMLINK+="esp32", MODE="0666", GROUP="dialout"

# 2. RPLiDAR - Cắm tại Cổng USB Port 9
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", \
    KERNELS=="1-9:1.0", \
    SYMLINK+="rplidar", MODE="0666", GROUP="dialout"